{% load static %}

<!doctype html>
<html>
    <head>
        <link rel="stylesheet" href="{% static "css/recipes.css" %}">
        <title>{{ recipe_object.title }} - Scrumptious Recipes</title>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE-edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"
    </head>
<body>
    <header class="Directory">
        <a href="{% url 'recipe_list' %}">Main Page</a>
    </header>
    <h1 class="Main-Header">{{ recipe_object.title }}</h1>
    <img src="{{ recipe_object.picture }}" width="300px" height="300px">
    <div class ="Rating">5.0 Stars</div>
    <h2 class="Sub-Head">Ingredients</h2>
    <div class="Table">
    <table>
        <thead>
            <tr>
                <th>Amount</th>
                <th>Food Item</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1 Cup</td>
                <td>Green Beans</td>
            </tr>
            <tr>
                <td>3 Ears</td>
                <td>Fresh Corn</td>
            </tr>
            <tr>
                <td>2 Cups</td>
                <td>Tomatillo Salsa</td>
            </tr>
            <tr>
                <td>8</td>
                <td>Corn Tortillas</td>
            </tr>
            <tr>
                <td>.5 Cups</td>
                <td>Cojita Cheese</td>
            </tr>
        </tbody>
    </table>
    </div>
    <h2 class="Process">Description</h2>
    <p>{{ recipe_object.description }}</p>
    <ol class="Listed">
        <li>Blanch the green beans</li>
        <li>Grill the green beans and ears of corn</li>
        <li>Chop the green beans</li>
        <li>Slice the corn off the cob</li>
        <li>Grill the tortillas</li>
        <li>Assemble the tacos with veggies, salsa, and cheese</li>
    </ol>
<footer>
    Made With Love By Scrumptious Recipes
</footer>
</body>
</html>
