{% load static %}

<!doctype html>
<html>
<head>
    <link rel="stylesheet" href="{% static "css/recipes.css" %}">
    <title>Scrumptious Recipes</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"
</head>
<body>
    <header class="Directory">
        <nav>
            <a href="{% url 'recipe_list' %}">Main Page</a>
            <a href="{% url 'create_recipe' %}">Create a Recipe</a>
            <a href="{% url 'edit_post' %}">Edit</a>
        </nav>
    </header>
    <h1 class="Main-Header">Scrumptious Recipes</h1>
    <h2 class="Sub-Head">All The Food That's Good to Eat</h2>
        <div class="recipe-grid">
            {% for recipe in recipe_list %}
            <div>
                <h3>
                    <a href="{% url 'show_recipe' recipe.id %}">{{ recipe.title }}</a>
                    <div class="date">{{ recipe.created_on|date:"n j Y" }}</div>
                </h3>
                <img src="{{ recipe.picture }}" width="200px" height="200px">
                <div class="Rating">5.0 Stars</div>
            </div>
            {% endfor %}
        </div>
    <footer>
        Made With Love By Scrumptious Recipes
    </footer>
</body>
</html>

