a {
    text-decoration: none;
    color: #FF10F0;
}

body {
    background-color: rgba(60, 2, 68, 0.466);
}

.Rating {
    color: rgb(243, 230, 0);
}
.recipe-grid {
    display: grid;
    grid-template-columns: repeat(4, auto) 1fr;
    grid-template-rows: repeat(4, auto) 1fr;
    gap: 15px;
}
.date {
    color: rgb(243, 230, 0)
}
.Process {
    color: #14e4ff
}
.Listed {
    color: rgb(243, 230, 0)
}
.Table {
    color: rgb(243, 230, 0);
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: repeat(6, auto) 1fr;
    box-shadow: rgba(rgb(250, 17, 211, .7));
}
.Title {
    color: #FF10F0;
}
.Main-Header {
    background-color: rgba(112, 0, 177, .7);
    color: #14e4ff;
}
.Directory {
    background-color: rgba(112, 0, 177, .4);
}
.Sub-Head {
    color: #14e4ff;
    background-color: rgba(112, 0, 177, .7);
}
footer {
    background-color: rgba(112, 0, 177, .4);
    color: #14e4ff;
    padding: 30px 820px 30px 50px
}
th {
    background-color: grey;
}
tr:nth-child(even) {
    background-color: grey;
}
